*{
    margin: 0;
}
div{
    
    
    text-align: center;
    margin-bottom: 0;
    viewport-fit: 100;
    
}
.introduction{
    background-color: #1f2937;
    text-align: center;
}
.randominfo {
    

}
.register{
    background-color: azure;
}

.links{
    background-color: #1f2937;
}

.linked{
    position: top;
    color: white;
}


.nav-links{
    
justify-content: flex-end;
   margin: 0 0 0 auto;
}
.mad-links ul{
    gap: 10px;
}
.mad-links li{
    color: white;
    display: inline;
}

nav{
    display: flex;
    
}
a{
    padding-right: 10px;
    color: white;
    
}
a:hover {
	color: #0EBEFF;
}
h2{
    padding-left: 40px;
}
p{
    color: white;
}
h1{
    color: white;
}
.hero{
    display: flex;


}
.button{
    background-color: darkblue;
    color: white;
    padding: 2px 5px 5px 2px;
}

/* this is the container that hold the box (item) */
.container {
    justify-content: space-between;
    height: 140px;
    padding: 16px;
    background: white;
    border: 0;
    display: flex;
  }
  /** these are each of the boxes **/
  .item {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: white;
  }

  /** the third section the data in there paragraph **/
  .lorem{
      color: black;
      text-align: center;
  }